<!DOCTYPE html>
<html>
<head>
<title>表对应的字段表</title>
#parse("sys/header.html")
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			#if($shiro.hasPermission("odfield:save"))
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			#end
			#if($shiro.hasPermission("odfield:update"))
			<a class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
			#end
			#if($shiro.hasPermission("odfield:delete"))
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			#end
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
											<div class="form-group">
			   	<div class="col-sm-2 control-label">业务表id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.tableId" placeholder="业务表id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">表名</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.tableName" placeholder="表名"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">字段英文名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.field" placeholder="字段英文名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">字段英文中文名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.fieldName" placeholder="字段英文中文名称"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">字段类型</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.fieldType" placeholder="字段类型"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">时段长度</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.fieldLength" placeholder="时段长度"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">可否为空</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.isNull" placeholder="可否为空"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">是否主键</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.isKey" placeholder="是否主键"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">启用时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.enabledTime" placeholder="启用时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">失效时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.expiryTime" placeholder="失效时间"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">关联维表id</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.relationTableId" placeholder="关联维表id"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">关联维表</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.relationTable" placeholder="关联维表"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.remark" placeholder="备注"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改人</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.modifyName" placeholder="修改人"/>
			    </div>
			</div>
									<div class="form-group">
			   	<div class="col-sm-2 control-label">修改时间</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="odField.modifyTime" placeholder="修改时间"/>
			    </div>
			</div>
							<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="${rc.contextPath}/js/generator/odfield.js?_${date.systemTime}"></script>
</body>
</html>